html {
  background-color: #ccc;
}

form {
  display: block;
  left: 50%;
  position: 100;
  top: 30%;
}
form input[type=search] {
  border: solid 3px #fff;
  box-sizing: border-box;
  font-size: 2em;
  height: 2em;
  margin-left: -15vw;
  outline: solid #fc0 0;
  padding: 0.5em;
  transition: all 2s ease-in;
  width: 50vw;
  z-index: 2;
}
