/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Josefin Sans', sans-serif;;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 48px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 600;
     font-size: 15px;
     line-height: 24px;
     color: #110f0a;
}

a {
     color: #ffffff;
     text-decoration: none;
     outline: none !important;
}

.layout_padding {
    padding-bottom: 0px;
    padding-top: 90px;
}


.header_main{ width: 100%; float: left; }
.main-menu ul>li a {
    line-height: 20px;
    font-size: 16px;
    display: block;
    font-weight: 500;
    color: #090400;
    padding: 22px 20px;
    text-transform: uppercase;
}
.main-menu ul {
    margin: 0;
    list-style-type: none;
    margin-bottom: 10px;
}
ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav.main-menu {
    float: right;
    margin-left: 0;
}

.taital{

}

.banner_section_start{
	width: 100%;
	float: left; 
	background-color: #fefcfb; 
	height: auto; 
	padding-top: 20px; 
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
}

.main-menu ul li:first-child {
    margin-left: 0;
}
.main-menu ul>li {
    position: inherit;
    display: inline-block;
    vertical-align: middle;
}

.mean-container .mean-bar { background: #ed1c24;}

.main-menu ul > li.active a{ background-color: #ed1c24; color: #ffffff; }

.carousel-indicators .active {
    background-color: #fa3e19;
}

.carousel-indicators li { background-color: #000; height: 10px;}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fa3e19;
    background-size: 100% 100%;
    padding-top: 8px;
}

.carousel-control-next {
    right: 1080px;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 200px;
}

.carousel-control-prev {
    left: -137px;
    top: 87px;
}
.fa { line-height: 3px! important;}







.padding_0 {
	padding: 0 !important;
}

.img-responive {
	max-width: 100%;
}

.gallery_blog img {
	width: 100%;
	min-height: 295px;
}

.gallery_blog {
    position: relative;
}

.gallery_blog .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(250,62,25,.9);
}

.gallery_blog h2 {
    color: #fff;
    line-height: 287px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}


.banner_section{
	width: 100%;
	float: left;
}
.banner_taital{
	width: 100%;
	float: left;
	font-size: 50pt;
	color: #fa3e19;
	line-height: 75px;
}
.taital{
	margin-top: 50px;
}

.banner-image{
	width: 100%;
	float: left;
}

.lorem_text{
	width: 100%;
	float: left;
	margin-left: 0px;
}

.bt_main{
	width: 100%;
	float: left;
	background-color: #fa3e19;
	height: 50px;
    font-size: 16pt;
    border: 0px;
    color: #fff;
   
    }
    .bt_main :hover {color: #000;}
.banner_bt{ 
	width: 15%;
	margin: 0 auto;
 }

 .about_section{
 	width: 100%;
 	float: left;
 }

 .about_text{
 	width: 100%;
 	float: left;
 	color: #fa3e19;
 	font-size: 50pt;
 	border-bottom: 3px solid #111111;
    margin-top: 65px;
 }

 .color{ color: #383737; }

 .about_taital{
 	width: 100%;
 	float: left;
 	color: #686666;
 	font-size: 14pt;
 	margin-left: 0px;
 	padding-top: 20px;
 }
 .read_more{
	width: 30%;
	float: left;
	background-color: #fa3e19;
	height: 50px;
	font-size: 16pt;
	margin-top: 20px;
	border: 0px;
    color: #fff;

 }
 .read_more :hover{color: #000}
 .product_section{
 	width: 100%;
 	float: left;
 }
 .product_text{
 	width: 20%;
 	float: left;
 	color: #383737;
 	font-size: 50pt;
 	border-bottom: 3px solid #111111;
  
 }
 .den{ color: #fa3e19; }

.product_section_2{
	width: 100%;
	float: left;
    padding-top: 40px;
}

.den_text{
	width: 100%;
	float: left;
	text-align: center;
	color: #fa3e19;
	font-weight: 700;

}
.den_text a{ color: #fa3e19}

.den_text a:hover{
	 color: #000; 
}
.croissants{ color: #000; }

.croissants a:hover{ color:#000;  }
.gallery_section{
	width: 100%;
	float: left;
}

.gallery_main{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.gallery_taital{
 	width: 100%;
 	float: left;
 	color: #383737;
 	font-size: 50pt;
}

.our_text{
	color: #fa3e19;
	border-bottom: 3px solid #111111;
}

.gallery_maain{ width: 100%; float: left; margin-top: 50px; }
.breads_text{
	width: 100%;
	float: left;
	top: -174px;
    text-align: center;
    color: #ffffff;
    font-size: 30pt;
    font-size: 20pt;
    font-weight: 700;
}

.touch_main{
	width: 100%;
	float: left;
	margin-top: 50px;
}
.images {
    width: 100%!important;
    margin-bottom: 20px;
}


.input_main {
    width: 100%;
    float: left;
    background-color: #fa3e19;
    padding: 40px 20px 13px 20px;
}

.email-bt {
    background: #ffffff;
    border: none;
    color: #000;
    width: 100%;
    height: 55px;
    font-size: 16px;
    padding: 20px;
}

.send_btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.massage-bt {
    color: #000;
    border: none;
 
    width: 100%;
    height: 145px;
    font-size: 16px;
    padding: 20px;
}

button.main_bt {
    background: #302f2f;
    border: none;
    color: #fff;
    width: 150px;
    height: 50px;
    font-size: 22px;
    margin-top: 45px;
  
    
}

button.main_bt a:hover { color: #fa3e19; }

.map_section{
	width: 100%;
	float: left;
	padding-top: 90px;
}

.contact_section{
	width: 100%;
	float: left;
	background-color: #393838;
	height: auto;
	padding-top: 40px;
	padding-bottom: 45px;
}

.contact_text{
	width: 24%;
	float: left;
	color: #ffffff;
	border-bottom: 8px solid #ffffff;
    margin-top: 15px;
    margin-bottom: 30px;
}
.contact_taital{
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.adderess_text{
	color: #ffffff;
	font-size: 26pt;
	font-weight: 700;
	padding-top: 10px;
}

.image-icon{
	width: 100%; 
	float: left;
	padding-top: 10px;	

}
.email_text {
    font-size: 17px;
    color: #ebebeb;
    padding-left: 16px;
}
.social_icon{
	width: 100%;
	float: left;
}

.social_icon ul{
	margin: 0px; 
	padding: 0px;
}

.social_icon li{ 
	float: left; 
	padding-right: 15px;
	margin-top: 25px;
}

.footer-img{
	width: 100%; 
	float: left;
	margin-top: 15px;
}

.copyright_section{
	width: 100%;
	float: left;
	background-color: #fefefe;
	height: auto;
}

.copyright_taital{
	font-weight: 18px; 
	color: #010000;
	text-align: center;
}

.copyright_taital a{
	color: #010000;
}
.copyright_taital a:hover{
	color: #f73c1d;
}

.hello_images{ width: 100%; float: left; }

.container {
  position: relative;
}


.layout_padding2 {padding-top: 60px;}


.gallery_blog{
  position: relative;
  width: 100%;
}

.gallery_blog:hover .overlay {
  opacity: 1;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

#map {
    height: 100%;
    min-height: 480px;
}

.product_section_2 .images {
    border: solid #e7e4e3 23px;
}

.product_section_2 .images:hover {
    border-color: #fa3e19;
}
